/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #2f2f2f;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    /* Mengatur teks di tengah */
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tbody tr:hover {
    background-color: #f5f5f5;
}


/* Menyesuaikan ukuran gambar */

table img {
    width: 100px;
    /* atur lebar gambar */
    height: auto;
    /* atur tinggi agar gambar proporsional */
}


/* Memposisikan gambar karakter utama di tengah */

td img.character-image {
    display: block;
    margin: 0 auto;
}


/* Mengatur teks "Total" agar tidak diposisikan di tengah */

td[colspan="3"] {
    text-align: left;
}